# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/MyJRPGP/v15/.suo
.vs/MyJRPGP/v16/.suo
.vs/MyJRPGP/v16/Browse.VC.db
.vs/MyJRPGP/v16/Browse.VC.db-shm
.vs/MyJRPGP/v16/Browse.VC.db-wal
.vs/MyJRPGP/v16/Browse.VC.opendb
.vs/MyJRPGP/v16/ipch/AutoPCH/7f5977989373968/MYJRPGPGAMEMODEBASE.ipch
.vs/MyJRPGP/v16/ipch/AutoPCH/8b70e75993d80481/STRUCT.ipch
.vs/MyJRPGP/v16/Solution.VC.db
.vs/MyJRPGP/v16/Solution.VC.db-shm
.vs/MyJRPGP/v16/Solution.VC.db-wal
Binaries/Win64/MyJRPGPEditor.target
Binaries/Win64/UE4Editor-MyJRPGP-0002.pdb
Binaries/Win64/UE4Editor-MyJRPGP-0003.pdb
Binaries/Win64/UE4Editor-MyJRPGP-0004.pdb
Binaries/Win64/UE4Editor-MyJRPGP-0005.pdb
Binaries/Win64/UE4Editor-MyJRPGP-0006.pdb
Binaries/Win64/UE4Editor-MyJRPGP-0007.pdb
Binaries/Win64/UE4Editor-MyJRPGP-0010.pdb
Binaries/Win64/UE4Editor-MyJRPGP-0011.pdb
Binaries/Win64/UE4Editor-MyJRPGP-2878.pdb
Binaries/Win64/UE4Editor-MyJRPGP.pdb
Binaries/Win64/UE4Editor.modules
Intermediate/AssetRegistryCache/0e509070.bin
Intermediate/AssetRegistryCache/142f06ae.bin
Intermediate/AssetRegistryCache/1cd9b6b1.bin
Intermediate/AssetRegistryCache/1e449417.bin
Intermediate/AssetRegistryCache/3267c64e.bin
Intermediate/AssetRegistryCache/4471b704.bin
Intermediate/AssetRegistryCache/49255e0c.bin
Intermediate/AssetRegistryCache/4a131f6f.bin
Intermediate/AssetRegistryCache/5ec1a9b8.bin
Intermediate/AssetRegistryCache/629f845f.bin
Intermediate/AssetRegistryCache/83fae746.bin
Intermediate/AssetRegistryCache/8d22b410.bin
Intermediate/AssetRegistryCache/9ad1448d.bin
Intermediate/AssetRegistryCache/9bfd9480.bin
Intermediate/AssetRegistryCache/b3ce8ea5.bin
Intermediate/AssetRegistryCache/b41d435a.bin
Intermediate/AssetRegistryCache/b89820ae.bin
Intermediate/AssetRegistryCache/c0a7a26b.bin
Intermediate/AssetRegistryCache/c2ecf2aa.bin
Intermediate/AssetRegistryCache/cab1fe45.bin
Intermediate/AssetRegistryCache/e96e974b.bin
Intermediate/AssetRegistryCache/f9a05403.bin
Intermediate/Build/BuildRules/MyJRPGPModuleRules.pdb
Intermediate/Build/BuildRules/MyJRPGPModuleRulesManifest.json
Intermediate/Build/SourceFileCache.bin
Intermediate/Build/Unused/MyJRPGP.log
Intermediate/Build/Win64/ActionHistory.bin
Intermediate/Build/Win64/MyJRPGPEditor/Development/ActionHistory.bin
Intermediate/Build/Win64/MyJRPGPEditor/Development/DependencyCache.bin
Intermediate/Build/Win64/MyJRPGPEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.cpp
Intermediate/Build/Win64/MyJRPGPEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
Intermediate/Build/Win64/MyJRPGPEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch.response
Intermediate/Build/Win64/MyJRPGPEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.txt
Intermediate/Build/Win64/MyJRPGPEditor/Development/HotReload.state
Intermediate/Build/Win64/MyJRPGPEditor/Development/Makefile.bin
Intermediate/Build/Win64/MyJRPGPEditor/Development/Metadata-HotReload.dat
Intermediate/Build/Win64/MyJRPGPEditor/Development/Metadata.dat
Intermediate/Build/Win64/MyJRPGPEditor/Development/MyJRPGPEditor.deps
Intermediate/Build/Win64/MyJRPGPEditor/Development/MyJRPGPEditor.uhtmanifest
Intermediate/Build/Win64/MyJRPGPEditor/Development/MyJRPGPEditor.uhtpath
Intermediate/Build/Win64/UE4Editor/Development/ActionHistory.bin
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/Default.rc2.res
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/Definitions.MyJRPGP.h
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/Definitions.MyJRPGP.h.old
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/LiveCodingInfo.json
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyCharacter.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyCharacter.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyCharacter.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyCharacter.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGP.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGP.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGP.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGP.init.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGP.init.gen.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGP.init.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGPGameModeBase.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGPGameModeBase.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGPGameModeBase.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGPGameModeBase.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGPGameModeBase.gen.cpp.obj.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/MyJRPGPGameModeBase.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0002.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0002.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0002.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0002.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0003.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0003.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0003.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0003.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0004.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0004.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0004.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0004.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0005.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0005.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0005.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0005.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0006.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0006.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0006.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0006.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0007.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0007.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0007.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0007.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0008.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0008.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0009.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0009.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0010.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0010.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0010.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0010.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0011.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0011.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0011.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-0011.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-2878.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-2878.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-2878.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-2878.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP.dll.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP.lib.response.old
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Inc/MyJRPGP/MyJRPGP.init.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/MyJRPGP/MyJRPGPClasses.h
Intermediate/Build/Win64/UE4Editor/Inc/MyJRPGP/MyJRPGPGameModeBase.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/MyJRPGP/MyJRPGPGameModeBase.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/MyJRPGP/Timestamp
Intermediate/CachedAssetRegistry.bin
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Intermediate/ProjectFiles/MyJRPGP.vcxproj
Intermediate/ProjectFiles/MyJRPGP.vcxproj.filters
Intermediate/ProjectFiles/MyJRPGP.vcxproj.user
Intermediate/ProjectFiles/UE4.vcxproj
Intermediate/ProjectFiles/UE4.vcxproj.filters
Intermediate/ProjectFiles/UE4.vcxproj.user
Intermediate/ReimportCache/3688439234.bin
Intermediate/TargetInfo.json
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-CF42658F4AEB660D837810859B977631/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EA37A41943E941ACD312FD9B6752E725/CrashReportClient.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Hardware.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/MagicLeap.ini
Saved/Config/Windows/MagicLeapLightEstimation.ini
Saved/Config/Windows/MotoSynth.ini
Saved/Config/Windows/Niagara.ini
Saved/Config/Windows/OculusVR.ini
Saved/Config/Windows/Paper2D.ini
Saved/Config/Windows/PhysXVehicles.ini
Saved/Config/Windows/PostSplashScreen.ini
Saved/Config/Windows/RuntimeOptions.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/Windows/Synthesis.ini
Saved/Config/Windows/UnrealInsightsSettings.ini
Saved/Config/Windows/VariantManagerContent.ini
Saved/Logs/MyJRPGP.log
Saved/Logs/MyJRPGP_2.log
Intermediate/CachedAssetRegistry.bin.tmp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/BattleCharacterBase.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/BattleCharacterBase.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/BattleCharacterBase.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/BattleCharacterBase.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-8881.dll.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-8881.exp
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-8881.lib.response
Intermediate/Build/Win64/UE4Editor/Development/MyJRPGP/UE4Editor-MyJRPGP-8881.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Inc/MyJRPGP/BattleCharacterBase.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/MyJRPGP/BattleCharacterBase.generated.h
Binaries/Win64/UE4Editor-MyJRPGP-8881.pdb
Saved/Logs/MyJRPGP_2-backup-2021.01.27-16.10.41.log
Saved/Logs/MyJRPGP-backup-2021.01.27-15.06.24.log
Saved/Config/CrashReportClient/UE4CC-Windows-A84FCF9144DC174DC4E04D951DD16267/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-3A1A979C407E2CE0F2D8D5AF1199CBC9/CrashReportClient.ini
.vs/MyJRPGP/v16/ipch/AutoPCH/9cff2fa02854666d/BATTLECHARACTERBASE.ipch
